@import url("nullstyle.css");


@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}



body {
    font-family: 'Montserrat';
}

a {
    color: black;
}

/*================================================================*/
/*ХЭДЭР*/

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

[class*="__container"] {
    max-width: 1520px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    min-height: 94px;
    align-items: center;
}

.header__info {
    flex: 1 1 auto;
    margin-left: 40px;
}

.header__contacts {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
}


.info {
    display: flex;
    justify-content: flex-start;
}

.info__list {
    display: flex;
}

.info__item {
    margin-right: 20px;
}

.info__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #D1D1D1;
}

.reviews {
    display: flex;
    align-items: center;
}

.reviews__link {
    margin-left: 9px;
}


.contacts__div {
    display: flex;
    justify-content: flex-end;
}

.contacts__content {
    display: flex;
    justify-content: flex-end;
}

.contacts-text__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 3px;
}

.contacts-number__number {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 5px 0 0 5px;
}

.header__logo2 {
    display: none;
    margin: 0;
}

/*======================================================================*/
/*МЕНЮ*/

.menu__container {
    display: flex;
    height: 60px;
    align-items: center;
}
.menu__catalog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 160px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; 
}

.menu__link {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.menu__repair {
    flex: 1 1 auto;
}
.menu__list {
    display: flex;
}
.menu__item {
    width: 25%;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;   
}
.menu__name {
    margin: 0 10px;
}

.menu__item .menu__link{
    margin-left: 70px;
}


.unheader-line {
    height: 1px;
    background-color: #E5E5E5;
}

.unmenu-line {
    height: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/*========================================================================*/
/*СЕРВИС*/


.service {
    display: flex;
}
.service-container {
    flex: 1 1 auto;
    width: 816px;
    height: 595px;
    margin: 90px 94px 120px 200px;
}
.service-container__title {
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
}
.service-container__subtitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    margin: 52px 0;
    max-width: 673px;
}
.service-container__tab {
    margin-left: -10px;
    margin-bottom: 40px;
}
.service-container__info {
    margin-left: -25px;
    display: flex;
    flex-wrap: wrap;
}
.service-container__info-item {
    width: 50%;
    
}
.service-container__info-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.info-list__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin-top: -20px;
}
.service__images {
    margin-top: -30px;
    position: relative;
}

.service-image {
    max-width: 100%;
    min-height: 100%;
}

.service-done-image {
    position: absolute;
    bottom: 65px;
    right: 115px;
}

.unservice-line {
    height: 2px;
    background-color: #F6F6F6;
}

/*================================================================*/
/*ФИКСИКИ*/

.fixiki {
    margin: 120px 0;
}

.fixik__title {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}
.fixik__subtitle {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
}
.fixik__list {
    display: flex;
    margin: 80px 0;
}
.fixik__item {
    flex: 0 1 25%;
}
.fixik {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixik__name {
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    margin: 40px 0 16px;
}
.fixik__expearence {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    min-height: 66px;
}
.fixik__works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.fixik__works p{
    margin-left: 10px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.fixik__message {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.message{
    width: 296px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    padding: 16px;
}

.message::after {
    content: "";
    width: 0; 
    height: 0;
    position: absolute;
    top: -10px;
    left: 143px;
    border-left: 10px solid transparent;
    border-right:10px solid transparent;
    border-bottom: 10px solid #F6F6F6;       
}

.fixik__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.dot-1366 {
    display: none;
}

.fixik-btn__container {
    position: relative;
}

.fixik__left-btn {
    position: absolute;
    left: -35px;
    bottom: 300px;
}

.fixik__right-btn {
    position: absolute;
    right: -35px;
    bottom: 300px;
}


.fixik__list-1366{
    display: none;
    margin: 0;
}

.fixik__list-1024{
    display: none;
    margin: 0;
}




/*==============================================================*/
/*ГАЛЕРЕЯ*/

.gallery {
    margin-bottom: 120px;
}
 
.gallery__items {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.gallery__item {
    flex: 0 1 50%;
    padding: 15px;
    
}
.item img{
    max-width: 100%;
    min-height: 100%;
}
.item__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 60px;
}
.item__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 32px;
    max-width: 745px;
}
.item__btn {
    width: 245px;
    height: 60px;
    border: 2px solid black;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.ungallery-line {
    height: 1px;
    background-color: white;
}

/*=======================================*/
/*БУРГЕР*/

.burger__container {
    display: none;
    margin: 0;
}




/*=========================================================================================*/
/*МЕДИА*/


/*=============================================================*/
/*1366px*/

@media screen and (max-width: 1367px){
    
    [class*="__container"] {
        max-width: 1080px;
        margin: 0 auto;
    }

    .burger__container {
        display: none;
        margin: 0;
    }

    .info__list {
        display: none;
    }

    .menu__line {
        display: none;
    }

    .menu__line-catalog {
        height: 15px;
    }

    .menu__catalog {
        width: 130px;
    }

    .menu__item .menu__link{
        margin-left: 27px;
    }

    .menu__catalog {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .menu__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .service-container {
        margin: 80px -325px 120px 143px;
        min-width: 679px;
    }

    .service-container__title {
        font-weight: 800;
        font-size: 70px;
        line-height: 100%;
    }

    .service-container__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    .info-list__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
    }

    .service-container__tab {
        margin: 0 0 40px -30px;
    }

    .service-container__tab img{
        width: 342px;
        height: 69px;
    }

    .service__images {
        margin-top: -30px;
    }

    .service-image {
        margin-left: 330px;
        max-width: 75%;
    }

    .service {
        overflow-x: hidden;
        height: 817px;
    }

    .unmenu-line {
        height: 1px;
        background-color: #F6F6F6;
    }

    .service-done-image {
        bottom: 125px;
        right: 30px;
    }

    .info-list__text {
        margin-right: -5px;
    }

    .fixiki {
        margin: 280px 0 120px 0;
    }

    .fixik__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    .fixik__list {
        display: none;
        margin: 0;
    }
    .fixik__item {
        display: none;
    }

    .fixik__list-1366 {
        display: block;
        display: flex;
        margin: 80px 0;
    }
    
    .fixik__item-1366 {
        flex: 0 1 33.333%;
    }
    .fixik-1366 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .dot-1366 {
        display: block;
    }

    .item__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 100%;
        margin-bottom: 60px;
    }

    .item__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 32px;
        max-width: 525px;
    }
}


/*==============================================================*/
/*1024px*/

@media screen and (max-width: 1025px){
    
    [class*="__container"] {
        max-width: 850px;
        margin: 0 auto;
    }

    .contacts-text__text {
        
        font-size: 12px;
        line-height: 15px;
    }
    
    .contacts-number__number {
        
        font-size: 18px;
        line-height: 22px;
    }

    
    .menu__line-catalog {
        height: 15px;
        background-color: #777;
    }

    .menu__catalog {
        width: 130px;
    }

    .item-laptop {
        display: none;
    }

    .menu__item .menu__link{
        margin-left: 27px;
    }

    .menu__catalog {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .menu__item {
        width: 33.333%;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .service-container {
        margin: 80px -325px 120px 87px;
        min-width: 547px;
    }

    .service-container__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 100%;
        max-width: 331px;
    }

    .service-container__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        margin: 32px 0;
        max-width: 470px;
    }

    .info-list__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        margin-right: -5px;
    }

    .service-container__tab {
        margin: 0 0 32px -30px;
    }

    .service-container__tab img{
        width: 342px;
        height: 69px;
    }

    .service__images {
        margin-top: -30px;
    }

    .service-image {
        margin-left: 330px;
        max-width: 75%;
    }

    .service {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 621px;
    }

    .unmenu-line {
        height: 1px;
        background-color: #F6F6F6;
    }

    .service-done-image {
        width: 300px;
        height: 90px;
        bottom: 85px;
        right: 35px;
    }

    .info-list__icon {
        width: 75px;
        height: 75px;
    }


    .fixiki {
        margin: 200px 0 80px 0;
    }

    .fixik__title { 
        font-size: 36px;
        margin: 0 auto 32px;
    }

    .fixik__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
    }

    .fixik__list {
        display: none;
        margin: 0;
    }
    .fixik__item {
        display: none;
    }

    .fixik__list-1366 {
        display: none;
        margin: 0;
    }
    .fixik__item-1366 {
        display: none;
    }

    .fixik__list-1024 {
        display: block;
        display: flex;
        margin: 60px 0;
    }
    
    .fixik__item-1024 {
        flex: 0 1 33.333%;
    }
    .fixik-1024 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fixik__name {
        font-size: 20px;
        margin: 32px 0 16px;
    }

    .fixik__expearence {
        font-size: 14px;
        max-width: 163px;
        min-height: 85px;
    }

    .fixik__works {
        margin: 24px 0;
        align-items: flex-start;
    }
    
    .fixik__works p{
        font-size: 14px;
        max-width: 153px;
    }

    .fixik__works img{
        width: 16px;
        height: 16px;
    }

    .fixik__message {
        font-size: 14px;
    }

    .message{
        width: 240px;
        justify-content: flex-start;
    }

    .message::after {
        left: 110px;  
    }

    .fixik__left-btn {
        bottom: 275px;
    }
    
    .fixik__right-btn {
        bottom: 275px;
    }
    
    .dot-1366 {
        display: block;
    }

    .gallery {
        margin-bottom: 80px;
    }

    .gallery__items-1024 {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .gallery__item-1024 {
        padding: 15px; 
    }

    .item-text {
        order: 1;
        min-width: 100%;
    }

    .item-img {
        order: 2;
        flex: 0 1 33.333%;
    }

    .item__title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .item__subtitle {
        font-size: 14px;
        margin-bottom: 24px;
        max-width: 850px;
    }

    .item__btn {
        width: 188px;
        height: 50px;
        font-size: 14px;
        margin: 32px 0 25px 0;
    }
}



/*=============================================================*/
/*768px*/

@media screen and (max-width: 769px){
    
    [class*="__container"] {
        max-width: 650px;
        margin: 0 auto;
    }

    .header__container {
        min-height: 80px;
    }

    .menu__catalog a {
        display: none;
    }

    .menu__catalog {
        width: 50px;
    }

    .menu__arrow {
        display: none;
    }

    .menu__item .menu__link{
        margin-left: 10px;
    }

    .menu__name {
        margin: 0 5px;
    }

    .service-container {
        margin: 80px -325px 80px 59px;
        max-width: 547px;
    }

    .service-container__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 100%;
        max-width: 331px;
    }

    .service-container__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        margin: 32px 0;
        max-width: 331px;
    }

    .info-list__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        margin-right: -5px;
    }

    .service-container__tab {
        margin: 0 0 32px -30px;
    }

    .service-container__tab img{
        width: 342px;
        height: 69px;
    }

    .service__images {
        margin-top: 0px;
    }

    .service-image {
        margin-left: 120px;
        max-width: 100%;
        min-height: 100%;
    }

    .service {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 775px;
    }

    .service-container__info-item {
        width: 100%;
    }

    .info-list__text {
        max-width: 210px;
    }

    .service-done-image {
        width: 300px;
        height: 90px;
        bottom: 85px;
        right: 80px;
    }


    .fixiki {
        margin: 120px 0 80px 0;
    }

    .fixik__photo img{
        width: 165px;
        height: 165px;
    }

    .fixik__message {
        font-size: 12px;
    }

    .message{
        width: 200px;
        justify-content: flex-start;
    }

    .message::after {
        left: 90px;  
    }

    .fixik__left-btn {
        bottom: 290px;
    }
    
    .fixik__right-btn {
        bottom: 290px;
    }

    .fixik__left-btn img{
        width: 90px;
        height: 90px;
    }
    
    .fixik__right-btn img{
        width: 90px;
        height: 90px;
    }
    
}

/*=============================================================================*/
/*375px*/